In [28]:
import pandas as pd
import numpy as np
from pandas import Series

data = pd.read_csv("easy_recommender.csv",delimiter="\t", index_col=0)
data

             WatchDog  GTAV  PUBG  StarCraft  CallOfDuty  FIFA  WOW  MineCraft
userID/game
firechicken       3.0   3.0   4.0        NaN         4.0   2.0  3.0        NaN
mike0702          3.0   5.0   4.0        3.0         3.0   NaN  NaN        4.0
zephyros          NaN   4.0   NaN        5.0         NaN   NaN  2.0        1.0
dadvador          2.0   NaN   NaN        4.0         NaN   4.0  4.0        5.0

In [27]:
def convert_to_boolean_vector(name:str, data = data) -> Series:
    to_process = data.loc[name]
    return to_process.isna().map(lambda x: not x)
def compute_jaccard_distance(name1:str, name2:str, data = data):
    name1_data = convert_to_boolean_vector(name1,data)
    name2_data = convert_to_boolean_vector(name2,data)
    print(pd.concat([name1_data, name2_data, (name1_data & name2_data).rename("equals")],axis=1))

    intersection = (name1_data & name2_data).sum()
    
    return intersection/data.columns.size
print(compute_jaccard_distance("mike0702","zephyros"))

            mike0702  zephyros  equals
WatchDog        True     False   False
GTAV            True      True    True
PUBG            True     False   False
StarCraft       True      True    True
CallOfDuty      True     False   False
FIFA           False     False   False
WOW            False      True   False
MineCraft       True      True    True
0.375

In [31]:
def compute_boolean_cosine_distance(name1: str, name2:str):
    name1_data = convert_to_boolean_vector(name1,data)
    name2_data = convert_to_boolean_vector(name2,data)
    data1 = name1_data.map(lambda x: 1 if x else 0)
    data2 = name2_data.map(lambda x: 1 if x else 0)
    print(pd.concat([data1, data2, (data1 * data2).rename("*")],axis=1))
    print(f"|a|:{np.sqrt(data2.sum())}, |b|:{np.sqrt(data1.sum())}")
    return (data1 * data2).sum()/(np.sqrt(data2.sum())* np.sqrt(data1.sum()))
    
print(compute_boolean_cosine_distance("firechicken","dadvador"))

            firechicken  dadvador  *
WatchDog              1         1  1
GTAV                  1         0  0
PUBG                  1         0  0
StarCraft             0         1  0
CallOfDuty            1         0  0
FIFA                  1         1  1
WOW                   1         1  1
MineCraft             0         1  0
|a|:2.23606797749979, |b|:2.449489742783178
0.5477225575051661